@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/eot/IRANSansWeb_Bold.eot");
    src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
      url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"),
      url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/eot/IRANSansWeb_Medium.eot");
    src: url("../fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"),
      url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
      url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"),
      url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/eot/IRANSansWeb_Light.eot");
    src: url("../fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"),
      url("../fonts/woff/IRANSansWeb_Light.woff") format("woff"),
      url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/eot/IRANSansWeb_UltraLight.eot");
    src: url("../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"),
      url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"),
      url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"),
      url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
  }

  @font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/eot/IRANSansWeb.eot");
    src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
      url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb.woff") format("woff"),
      url("../fonts/ttf/IRANSansWeb.ttf") format("truetype");
  }

  @font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Yekan.ttf") format("truetype");
  }
}

@theme {
  --font-IRANSans: "IRANSans", sans-serif;
  --font-Yekan: "Yekan", sans-serif;
  --font-vazir: "vazir", sans-serif;
  --font-vazir-bold: "vazir-bold", sans-serif;
  --font-vazir-light: "vazir-light", sans-serif;
  --font-sahel: "sahel", sans-serif;
  --font-sahel-bold: "sahel-bold", sans-serif;
  --font-sahel-light: "sahel-light", sans-serif;

  --color-brown-100: #efebe9;
  --color-brown-300: #a1887f;
  --color-brown-600: #6d4c41;
  --color-brown-900: #3e2723;

  --tightest-spacing: -0.065rem; 
  --shadow-normal: 0px 1px 10px rgba(0, 0, 0, 0.5);
  --radius-4xl: 2rem;
}

@variant dark {
  @theme {
    --color-brown-100: #3e2723;
    --color-brown-300: #5d4037;
    --color-brown-600: #4e342e;
    --color-brown-900: #2e1b18;

    --shadow-normal: 0px 1px 10px rgba(255, 255, 255, 0.1);
  }
}
